table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  ::ng-deep  .user-table >tbody >tr >td:nth-child(4) >button {
    border: none;
    background-color: inherit;
    outline: 0;
}

  ::ng-deep .mat-icon {
    color: #022a4f;
  }