<img [src]="retrievedImage" height="200" *ngIf="retrievedImage">
<form [formGroup]="profileForm" (ngSubmit)="updateUser()"  role="form">
    <div class="form-group">
        <label for="name">Name</label>&nbsp;
        <input type="text" class="form-control" name="this.loggedInUser.username" id="name"
        formControlName="username"
        required>
    </div>
    <div class="form-group">
        <label for="mobile">Mobile</label>&nbsp;
        <input type="tel" class="form-control" name="this.loggedInUser.mobile" id="mobile"
        formControlName="mobile"
        required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>&nbsp;
        <input type="password" class="form-control" name="this.loggedInUser.password" id="password"
        formControlName="password"
        required>
    </div>
    <!-- <div class="form-group">
        <input type="hidden" class="form-control" name="this.loggedInUser.profilePic" id="profilePic"
        formControlName="profilePic">
    </div> -->
    <div class="form-group">
        <label for="image">Profile Picture</label>&nbsp;
        <input type="file" class="form-control" accept="image/*" id="image" 
                name="profilePic" style="display: none"
                #imageInput 
                (change)="onPhotoChanged($event)" 
                required>
            &nbsp;<button (click)="imageInput.click();" type="button">Select File</button>
        <img [src]="imageUrl" height="200">
        <!-- <button (click)="saveProfilePic()" type="button" *ngIf="imageUrl">Upload</button> -->
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!profileForm.dirty">Save</button>
        &nbsp;&nbsp;<button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
    </div>
</form>