<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <!-- <div *ngIf="authService.loginMessage">{{ authService.loginMessage }}</div> -->
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <form [formGroup]="signUpForm" (ngSubmit)="signUp()" role="form">
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <input type="text" class="form-control" id="username" 
                                formControlName="username" placeholder="User Name"
                                #username required>
                            </div>
                            <p style="color:red;" *ngIf="username.touched && !username.valid">
                                <span *ngIf="username.errors.required">Please Enter your Email</span>
                            </p>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <input type="text" class="form-control" id="email" 
                                formControlName="email" placeholder="Email"
                                #email required>
                            </div>
                            <p style="color:red;" *ngIf="email.touched && !email.valid">
                                <span *ngIf="email.errors.required">Please Enter your Email</span>
                                <span *ngIf="email.errors.email">Please Enter a valid Email</span>
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <input type="password" id="password" class="form-control"
                                formControlName="password"    
                                placeholder="Password"
                                required minlength="6"
                                #password>
                            </div>
                            <p style="color:red;" *ngIf="password.touched && !password.valid">
                                <span *ngIf="password.errors.required">Please Enter your Password</span>
                                <span *ngIf="password.errors.minlength">Your password should be minimum length of 6
                                    characters</span>
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <input type="confirmPassword" id="confirmPassword" class="form-control"
                                    formControlName="confirmPwd"
                                     placeholder="Confirm Password" 
                                    required 
                                    #confirmPwd
                                    >
                            </div>
                            <p style="color:red;" *ngIf="confirmPwd.touched && !confirmPwd.valid">
                                <span *ngIf="confirmPwd.errors.required">Please Confirm your Password</span>
                                <span *ngIf="confirmPwd.errors.pwdMatch">Your password should be minimum length of 6
                                    characters</span>
                            </p>
                            <!-- <p>{{ signUpForm.errors}}</p> -->
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit" >Sign Up</button>
                        </div>
                    </form>
                    <div class="row mt-3">
                        <div class="col-9">
                            Have already an account? 
                        </div>
                        <div class="col-3">
                            <a routerLink="/auth/login" class="text-light"><small>Login</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>