<app-header [title]=title></app-header>
<mat-sidenav-container *ngIf="authService.isLoggedIn; else elseBlock">
  <mat-sidenav mode="side" opened="opened" #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/trips'"
        routerLinkActive = "active"
        [routerLinkActiveOptions] = "{ exact: true }">Trips</a>
      <a mat-list-item [routerLink]="'/trips/edit-trip/new'"
        routerLinkActive = "active"
        [routerLinkActiveOptions] = "{ exact: true }">Add Trip</a>
      <a mat-list-item [routerLink]="'/users'"
        routerLinkActive = "active"
        [routerLinkActiveOptions] = "{ exact: true }"
        *ngIf="authService.userRole == 'ROLE_ADMIN'">Drivers</a>
      <a mat-list-item [routerLink]="'/users/profile'"
        routerLinkActive = "active"
        [routerLinkActiveOptions] = "{ exact: true }">Profile</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav">
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>

<ng-template #elseBlock>
  <router-outlet></router-outlet>
</ng-template>