    <div *ngIf="!tripsService.isLoading; else elseBlock;">
      <button (click)="addTrip()">Add Trip</button>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
        </mat-form-field>
        
        <div class="mat-elevation-z8" id="receipt">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
            
            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
              <td mat-cell *matCellDef="let row"> {{row.date}} </td>
            </ng-container>

            <!-- From Column -->
            <ng-container matColumnDef="from_location">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> From </th>
              <td mat-cell *matCellDef="let row"> {{row.from_location}} </td>
            </ng-container>
        
            <!-- To Column -->
            <ng-container matColumnDef="to_location">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> To </th>
              <td mat-cell *matCellDef="let row"> {{row.to_location}} </td>
            </ng-container>
        
            <!-- Distance Column -->
            <ng-container matColumnDef="distance">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance </th>
              <td mat-cell *matCellDef="let row"> {{row.distance}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let row"> 
                <button mat-button (click)="editTrip(row.id)">Edit</button>  
              </td>
              <!-- <td> <i class="fas fa-edit"></i> </td> -->
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let row"> 
                <button mat-button (click)="deleteTrip(row.id)">Delete</button>  
              </td>
            </ng-container>

            <ng-container matColumnDef="print">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let row"> 
                <button mat-button (click)="printTrip(row.id)">Print</button>  
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
    <ng-template #elseBlock>
      <div class="row" style="text-align: center">
        <div class="text-center" style=" margin: 10% auto 0% auto;">
            <div class="spinner-border text-primary" role="status" style="height: 200px;width: 200px;">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
    </div>
    </ng-template>